---
title: Welcome to Middleman
---
- require 'uri'
:javascript
  $(document).ready(function(){
    $('.slider').bxSlider({
      "randomStart" : true,
      "auto" : true,
      "stopAuto": false,
      "infiniteLoop": true,
      "shrinkItems" : true,
      "pager" : false,
      "speed" : 300,
      "pause" : 8000
    });
  });
.slider
  - sitemap.resources.select{|p| p.path.end_with?(".jpg") || p.path.end_with?(".png")}.shuffle.each do |item|
    %div.sliderimage
      = image_tag item.path
= link_to(                                                  |
    "Read Documentation",                                   |
    "https://middlemanapp.com/basics/templating_language/", |
    target: "_blank"                                        |
  )                                                         |
