---
title: Welcome to Middleman
---
- require 'uri'
:javascript
  $(document).ready(function(){
    var slidepausetime = 8000;
    var line = new ProgressBar.Line('#progress-line',{
     'duration': slidepausetime,
      strokeWidth: .2,
        color: '#44697D'
      });
    $('.slider').bxSlider({
      "randomStart" : true,
      "auto" : true,
      "stopAuto": false,
      "infiniteLoop": true,
      "shrinkItems" : true,
      "pager" : false,
      "speed" : 300,
      "pause" : slidepausetime,
      // show the bx slider after the page loads
      'onSliderLoad': function(){
          $('.bxSlider').css({'visibility':'visible'});
          line.set(0);
          line.animate(1.0);
      },
      'onSlideAfter': function(){
          //line.set(1.0);
      },
      'onSlideBefore': function(){
          line.set(0);
          line.animate(1.0);
      }
    });
  });
.slider
  :ruby
    # images/slideshowディレクトリ以下の画像のみを対象とする
    imageitemarr = sitemap.resources.select do |p|
      p.path.start_with?("images/slideshow") && (p.path.end_with?(".jpg") || p.path.end_with?(".png"))
    end
  - imageitemarr.shuffle.each do |item|
    %div.sliderimage
      = image_tag item.path
#progress-line
  &nbsp;
= link_to(                                                  |
    "Read Documentation",                                   |
    "https://middlemanapp.com/basics/templating_language/", |
    target: "_blank"                                        |
  )                                                         |
